{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-primary">{{obj.cloth_name}}の消去</h1>
{% endblock %}

{% block content %}
<p>{{obj.cloth_name}}</p>
<img src="{{ MEDIA_URL }}{{obj.post_images}}">
<table class="table">
    <tr>
        <th>{{obj.item_info}}</th>
    </tr>
    <tr>
        <th>{{obj.brand_name}}</th>
    </tr>
    <tr>
        <th>{{obj.season}}</th>
    </tr>
    <tr>
        <th>{{obj.cloth_size}}</th>
    </tr>
    <tr>
        <th>{{obj.material}}</th>
    </tr>
    <tr>
        <th>{{obj.price}}</th>
    </tr>
    <tr>
        <th>{{obj.buying_place}}</th>
    </tr>
    <tr>
        <th>{{obj.buying_date}}</th>
    </tr>
    <form action="{% url 'delete' id %}" method="POST">
        {% csrf_token %}
        <tr><th></th><td>
            <input type="submit" value="delete" class="btn btn-danger">
        </td></tr>
    </form>
</table>
{% endblock %}