{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-primary">{{data.cloth_name}}の消去</h1>
{% endblock %}

{% block content %}
<p>{{data.cloth_name}}</p>
<img src="{{ MEDIA_URL }}{{data.post_images}}">
<table class="table">
    <tr>
        <th>{{data.item_info}}</th>
    </tr>
    <tr>
        <th>{{data.brand_name}}</th>
    </tr>
    <tr>
        <th>{{data.season}}</th>
    </tr>
    <tr>
        <th>{{data.cloth_size}}</th>
    </tr>
    <tr>
        <th>{{data.material}}</th>
    </tr>
    <tr>
        <th>{{data.price}}</th>
    </tr>
    <tr>
        <th>{{data.buying_place}}</th>
    </tr>
    <tr>
        <th>{{data.buying_date}}</th>
    </tr>
    <form action="{% url 'delete' id %}" method="POST">
        {% csrf_token %}
        <tr><th></th><td>
            <input type="submit" value="delete" class="btn btn-danger">
        </td></tr>
    </form>
</table>
{% endblock %}