{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-primary">{{data.cloth_name}}の詳細</h1>
{% endblock %}

{% block content %}
<p>{{data.cloth_name}}</p>
<img src="{{ MEDIA_URL }}{{data.images}}">
<table class="table">
        <tr>
            <th>{{data.item_info}}</th>
        </tr>
        <tr>
            <th>{{data.brand_name}}</th>
        </tr>
        <tr>
            <th>{{data.season}}</th>
        </tr>
        <tr>
            <th>{{data.cloth_size}}</th>
        </tr>
        <tr>
            <th>{{data.material}}</th>
        </tr>
        <tr>
            <th>{{data.price}}</th>
        </tr>
        <tr>
            <th>{{data.buying_place}}</th>
        </tr>
        <tr>
            <th>{{data.buying_date}}</th>
        </tr>
        <tr>
            <th><a href="{% url 'edit' data.id %}">編集</a></th>
            <th><a href="{% url 'delete' data.id %}">削除</a></th>
        </tr>
</table>
<a class="btn btn-primary" href="{% url 'top' %}">back to TOP</a>
{% endblock %}