{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-primary">{{data.cloth_name}}の詳細</h1>
{% endblock %}

{% block content %}
<img src="{{ MEDIA_URL }}{{ data.post_images }}" class="img-fluid">
<table class="table">
        <tr>
            <th>種類：{{data.get_item_info_display}}</th>
        </tr>
        <tr>
            <th>ブランド名：{{data.brand_name}}</th>
        </tr>
        <tr>
            <th>シーズン：{{data.season}}</th>
        </tr>
        <tr>
            <th>サイズ：{{data.cloth_size}}</th>
        </tr>
        <tr>
            <th>素材：{{data.material}}</th>
        </tr>
        <tr>
            <th>値段：{{data.price}}</th>
        </tr>
        <tr>
            <th>購入場所：{{data.buying_place}}</th>
        </tr>
        <tr>
            <th>購入日時：{{data.buying_date}}</th>
        </tr>
        <tr>
            <th><a href="{% url 'edit' data.id %}">編集</a></th>
            <th><a href="{% url 'delete' data.id %}">削除</a></th>
        </tr>
</table>
<a class="btn btn-primary" href="{% url 'top' %}">back to TOP</a>
{% endblock %}