{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-warning text-center">{{obj.cloth_name}}の編集</h1>
{% endblock %}

{% block content %}
<img src="{{ MEDIA_URL }}{{ obj.post_images }}" class="img-fluid d-block mx-auto">
<form enctype="multipart/form-data" action="{% url 'edit' id %}" method="POST">
    {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>
    <div class="btn-group btn-group-lg w-100">
        <a href="{% url 'detail' id %}" class="btn btn-secondary btn-lg w-25">Back to Detail</a>
        <input type="submit" value="Edit" class="btn btn-warning btn-lg w-75">
    </div>
</form>
{% endblock %}