{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body class="container">
        <h1 class="display-2 text-center">Welcome to Close Cloth!!</h1>
        <div class="d-inline">
            <h1 class="display-4 text-center">はじめての方はこちら!</h1>
            <a class="btn btn-info w-100" href="{% url 'signup' %}">新規登録</a>
        </div>
        <div class="d-inline">
            <h1 class="display-4 text-center">ログインはこちら!</h1>
            <a class="btn btn-primary w-100" href="{% url 'signin' %}">ログイン</a>
        </div>
    </body>
</html>