{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-success">Searcn Cloth</h1>
{% endblock %}

{% block content %}
<p class="h4">{{message|safe}}</p>
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <tr><th></th><td>
        <input type="submit" value="Search" class="btn btn-success w-auto">
    </td></tr>
</form>
<table class="table">
    <tr>
        <th>名称</th>
        <th>種類</th>
        <th>ブランド名</th>
        <th>値段</th>
    </tr>
    {% for item in data %}
    <tr>
        {% if login_user == item.owner %}
        <td>{{item.cloth_name}}</td>
        <td>{{item.get_item_info_display}}</td>
        <td>{{item.brand_name}}</td>
        <td>{{item.price}}</td>
        <td><a class="btn btn-secondary" href="{% url 'detail' item.id %}">Detail</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<p>服の合計金額：{{sum_price}}</p>
<br>
<a href="{% url 'top' %}">TOPに戻る</a>
{% endblock %}