{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-primary text-center">Close Cloth TOP</h1>
{% endblock %}

{% block content %}
<a class="btn btn-primary w-100" href="{% url 'post' %}">Add new cloth</a>
<h1 class="display-3 text-primary text-center">All clothes!</h1>
<table class="table">
    <tr>
        <th>名称</th>
        <th>種類</th>
        <th>ブランド名</th>
        <th>値段</th>
    </tr>
    {% for item in data %}
    <tr>
        {% if login_user == item.owner %}
        <td>{{item.cloth_name}}</td>
        <td>{{item.get_item_info_display}}</td>
        <td>{{item.brand_name}}</td>
        <td>{{item.price}}円</td>
        <td><a class="btn btn-secondary" href="{% url 'detail' item.id %}">Detail</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<ul class="pagination w-100">
    {% if data.has_previous %}
    <li class="page-item">
        <a class="page-link" href="{% url 'top' %}">&laquo; First</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{% url 'top' %}/{{data.previous_page_number}}">&laquo; Prev</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">&laquo; First</a>
    </li>
    <li class="page-item">
        <a class="page-link">&laquo; Prev</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
    </li>
    {% if data.has_next %}
    <li class="page-item">
        <a class="page-link" href="{% url 'top' %}/{{data.next_page_number}}">Next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{% url 'top' %}/{{data.paginator.num_pages}}">Last &raquo;</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">Next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link">Last &raquo;</a>
    </li>
    {% endif %}
</ul>
<p class="h2 text-secondary">服の合計金額：{{sum_price}}円</p>
<br>
<h1 class="h4 text-center">検索はこちらから</h1>
<a class="btn btn-success w-100" href="{% url 'search' %}">Search</a>
<br>
<h1 class="h4 text-center">WishListはこちらから</h1>
<a class="btn btn-info w-100" href="{% url 'wishlist' %}">WishList</a>
{% endblock %}