{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-primary align-baseline">Close Cloth TOP</h1>
{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'post' %}">新しい服を追加する</a>
<h1 class="display-4 text-primary">服の一覧</h1>
<table class="table-primary">
    {% for item in data %}
    <tr>
        <td>{{item.cloth_name}}</td>
    </tr>
    <tr>
        <img src="{{ MEDIA_URL }}{{data.wanted_images}}">
    </tr>
    {% endfor %}
</table>
<p>服の合計金額：{{sum_price}}</p>
<br>
<h1 class="h4">絞り込み、検索はこちらから</h1>
<a class="btn btn-success" href="{% url 'search' %}">絞り込み、検索</a>
<br>
<h1 class="h4">WishListはこちらから</h1>
<a class="btn btn-primary" href="{% url 'wishlist' %}">WishList</a>
{% endblock %}