{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-danger text-center">{{obj.wanted_cloth_name}}の消去</h1>
{% endblock %}

{% block content %}
<img src="{{ MEDIA_URL }}{{obj.wanted_images}}" class="img-fluid d-block mx-auto">
<table class="table">
    <tr>
        <th class="h2">ブランド名：{{obj.wanted_brand_name}}</th>
    </tr>
    <tr>
        <th class="h2">優先度：
            {% if obj.priority == 1 %}
                    <span class="text-danger">{{obj.get_priority_display}}</span>
                    {% elif obj.priority == 2 %}
                    <span class="text-warning">{{obj.get_priority_display}}</span>
                    {% else %}
                    <span>{{obj.get_priority_display}}</span>
                    {% endif %}
        </th>
    </tr>
    <tr>
        <th class="h2">シーズン：{{obj.wanted_season}}</th>
    </tr>
    <tr>
        <th class="h2">予想価格：{{obj.wanted_price}}円</th>
    </tr>
</table>
<form action="{% url 'wishlist_delete' id %}" method="POST">
    {% csrf_token %}
    <div class="btn-group btn-group-lg w-100">
        <a class="btn btn-secondary btn-lg w-25" href="{% url 'wishlist_detail' id %}">Back to Detail</a>
        <input type="submit" value="Delete" class="btn btn-danger btn-danger w-75">
    </div>
</form>
{% endblock %}