{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-1 text-info text-center">WishList</h1>
{% endblock %}

{% block content %}
<p class="display-3 text-info text-center">WishListの追加はこちらから</p>
<a class="btn btn-info w-100 btn-lg" href="{% url 'wishlist_add' %}">Add WishList</a>
<br><br>
<p class="display-3 text-info">All WishLists</p>
<table class="table table-hover">
    <tr class="thead-dark">
        <th class="h3">名称</th>
        <th class="h3">ブランド名</th>
        <th class="h3">優先度</th>
        <th class="h3">予想価格</th>
        <th class="h3"></th>
    </tr>
    {% for item in data %}
    <tr>
        <td class="h3">{{item.wanted_cloth_name}}</td>
        <td class="h3">{{item.wanted_brand_name}}</td>
        {% if item.priority == 1 %}
        <td class="text-danger h3">{{item.get_priority_display}}</td>
        {% elif item.priority == 2 %}
        <td class="text-warning h3">{{item.get_priority_display}}</td>
        {% else %}
        <td class="h3">{{item.get_priority_display}}</td>
        {% endif %}
        <td class="h3">{{item.wanted_price}}円</td>
        <td><a class="btn btn-secondary btn-lg" href="{% url 'wishlist_detail' item.id %}">Detail</a></td>
    </tr>
    {% endfor %}
</table>
<ul class="pagination pagination-lg justify-content-center">
    {% if data.has_previous %}
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}">&laquo; First</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}/{{data.previous_page_number}}">&laquo; Prev</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">&laquo; First</a>
    </li>
    <li class="page-item">
        <a class="page-link">&laquo; Prev</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
    </li>
    {% if data.has_next %}
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}/{{data.next_page_number}}">Next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}/{{data.paginator.num_pages}}">Last &raquo;</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">Next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link">Last &raquo;</a>
    </li>
    {% endif %}
</ul>
<p class="display-4 text-secondary text-right">予想額合計：{{sum_price}}円</p>
<br>
<a href="{% url 'top' %}" class="btn btn-primary btn-lg w-100">Back to TOP</a>
{% endblock %}