{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-info text-center">WishList</h1>
{% endblock %}

{% block content %}
<p class="h4 text-info text-center">WishListの追加はこちらから</p>
<a class="btn btn-info w-100" href="{% url 'wishlist_add' %}">Add WishList</a>
<p class="h4">WishList一覧</p>
<table class="table">
    <tr>
        <th>名称</th>
        <th>ブランド名</th>
        <th>優先度</th>
        <th>予想価格</th>
        <th></th>
    </tr>
    {% for item in data %}
    <tr>
        {% if login_user == item.owner %}
        <td>{{item.wanted_cloth_name}}</td>
        <td>{{item.wanted_brand_name}}</td>
        {% if item.priority == 1 %}
        <td class="text-danger">{{item.get_priority_display}}</td>
        {% elif item.priority == 2 %}
        <td class="text-warning">{{item.get_priority_display}}</td>
        {% else %}
        <td>{{item.get_priority_display}}</td>
        {% endif %}
        <td>{{item.wanted_price}}円</td>
        <td><a class="btn btn-secondary" href="{% url 'wishlist_detail' item.id %}">Detail</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<ul class="pagination justify-content-center">
    {% if data.has_previous %}
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}">&laquo; First</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}/{{data.previous_page_number}}">&laquo; Prev</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">&laquo; First</a>
    </li>
    <li class="page-item">
        <a class="page-link">&laquo; Prev</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
    </li>
    {% if data.has_next %}
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}/{{data.next_page_number}}">Next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{% url 'wishlist' %}/{{data.paginator.num_pages}}">Last &raquo;</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link">Next &raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link">Last &raquo;</a>
    </li>
    {% endif %}
</ul>
<p class="h2 text-secondary">予想額合計：{{sum_price}}円</p>
{% endblock %}