{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-warning"> Edit {{obj.wanted_cloth_name}}</h1>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="{% url 'wishlist_edit' id %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <th><td>
                <input type="submit" value="Edit" class="btn btn-warning">
            </td></th>
        </tr>
    </table>
</form>
{% endblock %}