{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-2 text-danger">Delete {{obj.wanted_cloth_name}}</h1>
{% endblock %}

{% block content %}
<p class="h2">{{obj.wanted_cloth_name}}</p>
<img src="{{ MEDIA_URL }}{{obj.wanted_images}}" class="img-fluid">
<table class="table">
    <tr>
        <th>ブランド名：{{obj.wanted_brand_name}}</th>
    </tr>
    <tr>
        <th>優先度：{{obj.get_priority_display}}</th>
    </tr>
    <tr>
        <th>シーズン：{{obj.wanted_season}}</th>
    </tr>
    <tr>
        <th>予想価格：{{obj.wanted_price}}</th>
    </tr>
    <form action="{% url 'wishlist_delete' id %}" method="POST">
        {% csrf_token %}
        <tr><th></th><td>
            <input type="submit" value="Delete" class="btn btn-danger w-100">
        </td></tr>
    </form>
</table>
{% endblock %}