{% extends 'clothes/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1 class="display-3 text-primary">WishList</h1>
{% endblock %}

{% block content %}
<p>WishListの追加はこちらから</p>
<a href="{% url 'wishlist_add' %}">追加</a>
<p>WishList一覧</p>
{% for item in data %}
<p>{{item.wanted_cloth_name}}</p>
<img src="{{ MEDIA_URL }}{{data.wanted_images}}">
<table class="table">
    <tr>
        <th>{{item.wanted_brand_name}}</th>
    </tr>
    <tr>
        <th>{{item.wanted_season}}</th>
    </tr>
    <tr>
        <th>{{item.wanted_price}}</th>
    </tr>
    <tr>
        <th>{{item.priority}}</th>
    </tr>
    <tr>
        <th><a href="{% url 'wishlist_edit' item.id %}">編集</a></th>
        <th><a href="{% url 'wishlist_delete' item.id %}">削除</a></th>
    </tr>
</table>
{% endfor %}
{% endblock %}